*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif,sans-serif;
}

.main{
    display: flex;
    padding: 20px 0px;
    width: calc(100vw - 40px);
}

.toolbox{
    width: 9vw;
    padding: 1vw;
    text-align: center;
    background: #eee7e7;

}
.ele{
    font-size: 17px;
    text-align: center;
    background: #b17676;
    margin-top: 10px;
    padding: 10px;
   
}
#dropzone{
    position: relative;
    width: 70vw;
    border: 1px dashed black;
    margin-left: 2vw;
    right: 20px;
    overflow: hidden;
}


.nwele{
    position: absolute; /* Important */
    padding: 10px;
    background: #ddd;
    border-radius: 5px;
}


.editor{
    position: absolute;
    width: 15vw;
    padding: 1vw;
    text-align: center;
    background-color: #eee7e7;
    right: 0;
}
.editor input{
    width: 15vw;
    margin-top: 5px;
    text-align: center;
}